*
{
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html
{
  scroll-behavior: smooth;
}

body
{
  font-family: 'Work Sans', sans-serif;
}

:root
{
  --section-bg: #f6f6f6;
  --main-color: #10cab7;
  --section-padding: 60px;
  --secondary-color: #2c4755;
}
/* End Global Rules */

.parent
{
  background-color: #eee;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.special__heading
{
  margin: 0;
  font-weight: 800;
  font-size: 100px;
  color: #ebeced;
  text-align: center;
  letter-spacing: -3px;
}

.special__heading + p
{
  font-size: 20px;
  color: #797979;
  text-align: center;
  margin: -30px 0 0;
}

@media (max-width: 767px)
{
  .special__heading {
    font-size: 60px;
  }

  .special__heading + p {
    margin-top: -20px;
  }

}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
.header
{
  padding: 1.2em;
}

.header .container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo
{
  width: 60px;
}

.header .links
{
  position: relative;
}

.header .links:hover .icon span:nth-child(2)
{
  width: 100%;
}

.header .links .icon
{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span
{
  height: 2px;
  margin-bottom: 5px;
  background-color: #333;
}

.header .links .icon span:first-child
{
  width: 100%;
}

.header .links .icon span:nth-child(2)
{
  width: 60%;
  transition: .5s;
}

.header .links .icon span:last-child
{
  width: 100%;
}

.header .links ul
{
  margin: 0;
  padding: 0;
  z-index: 1;
  display: none;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  background-color: var(--section-bg);
}

.header .links ul::before
{
  content: "";
  position: absolute;
  right: 5px;
  top: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
}

.header .links:hover ul
{
  display: block;
}

.header .links ul li a
{
color: #333;
padding: 15px;
display: block;
transition: .5s;
text-decoration: none;
}

.header .links ul li a:hover
{
 padding-left: 25px;
}

.header .links ul li:not(:last-child) a
{
  border-bottom: 1px solid #ddd;
}

/* Start Landing Section */
.landing
{
  position: relative;
  background-size: cover;
  height: calc(100vh - 64px);
  background-image: url(../image/landing.jpg);
}

.landing .intro__text
{
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50% , -50%);
}

.landing .intro__text h1
{
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}

.landing .intro__text p
{
  font-size: 19px;
  line-height: 2.8;
}

/* Strat Features */
.features
{
  background-color: var(--section-bg);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.features .container
{
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.features .feat
{
  padding: 20px;
  text-align: center;
}

.features .feat i
{
  color: var(--main-color);
}

.features .feat h3
{
  margin: 30px 0;
  font-weight: 800;
}

.features .feat p
{
  color: #777;
  font-size: 18px;
  line-height: 1.8;
}

/* start services */
.services
{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .services__content
{
  gap: 30px;
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services .services__content .srv
{
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .services__content .srv {
    text-align: center;
    flex-direction: column;
  }
}

.services .services__content .srv i
{
  flex-basis: 60px;
  color: var(--main-color);
}

.services .services__content .srv .text
{
  flex: 1;
}

.services .services__content .srv .text h3
{
  margin: 0 0 20px;
}

.services .services__content .srv .text p
{
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}

.services .services__content .image
{
  text-align: center;
  position: relative;
}

.services .services__content .image::before
{
  right: 0;
  top: -50px;
  content: '';
  z-index: -1;
  width: 100px;
  position: absolute;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
}

.services .services__content .image img
{
  width: 260px;
}

@media (max-width: 1199px) {
  .image__media {
    display: none;
  }
}

/* start portfolio */
.portfolio
{
  background-color: var(--section-bg);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .portfolio__content
{
  gap: 30px;
  display: grid;
  margin-top: 80px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.portfolio .card
{
  background-color: #fff;
}

.portfolio .card img
{
  max-width: 100%;
}

.portfolio .card .info
{
  padding: 20px;
}

.portfolio .card .info h3
{
  margin: 0 0 15px;
}

.portfolio .card .info p
{
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}

/* start about */
.about
{
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about__content
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .about .about__content {
    text-align: center;
    flex-direction: column;
  }
}

.about .image
{
  width: 250px;
  height: 375px;
  position: relative;
}

@media (max-width: 991px) {
  .about .image {
    margin: 0 auto 60px;
  }

}

.about .image::before
{
  top: -40px;
  content: '';
  left: -35px;
  width: 80px;
  z-index: -1;
  position: absolute;
  background-color: #ddd;
  height: calc(100% + 80px);
}

.about .image::after
{
  top: -35px;
  content: '';
  left: 210px;
  z-index: -1;
  width: 120px;
  height: 305px;
  position: absolute;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
}

@media (max-width: 991px) {
  .about .image::before,
  .about .image::after {
    display: none;
  }
}

.about .image img
{
  max-width: 100%;
}

.about .text
{
  flex-basis: calc(100% - 500px);
}

.about .text p:first-child
{
  line-height: 2;
  font-weight: bold;
  margin-bottom: 50px;
}

.about .text hr
{
  width: 50%;
  border-radius: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

.about .text p:last-of-type
{
  color: #777;
  line-height: 2;
  margin-top: 25px;
}

/* start contact */
.contact
{
  background-color: var(--section-bg);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .info
{
  text-align: center;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .info .label
{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 15px;
  letter-spacing: -2px;
  color: var(--secondary-color);
}

.contact .info .link
{
  display: block;
  font-size: 35px;
  font-weight: 800;
  text-decoration: none;
  color: var(--main-color);
}

.contact .info .social
{
  display: flex;
  font-size: 16px;
  margin-top: 20px;
  justify-content: center;
}

.contact .info .social i
{
  margin-left: 10px;
  color: var(--secondary-color);
}

@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}

/* strat footer */
.footer
{
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 30px 10px;
  background-color: var(--secondary-color);
}

.footer em
{
  font-size: 20px;
  font-weight: 900;
  color: var(--main-color);
}